body {
    background-color: beige;
}

#contentPage {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    align-items: center;
}

.grid {
    display: grid;
    width: 600px;
    height: 600px;
    border: 1px solid red;
    background-color: white;    
}
#gridContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}

.gridElement {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(128, 128, 128, 0.116);
}

.Menu {
    margin: 10px;
    width: 200px;
}

button, input {
    font-family:"Source Code Pro", cursive;
    font-size: large;
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color: white;
    border: 1px solid rgb(144, 9, 9);
}
button:hover {
    background-color: rgb(212, 212, 212);
}
button:active {
    background-color: rgb(107, 103, 103);
}
